<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="EntityContext" connectionString="Data Source=173.212.218.116; initial catalog=Marley_Currency; User Id=sa; Password=imaftec@2017;" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Log" value="C:\Services\Log" />
    <add key="SourceSheet" value="C:\Services\Sheets\Stocks.xlsm" />
    <add key="TargetSheet" value="C:\Services\Sheets\Stocks.xlsx" />
    <add key="Interval" value="15000" />
    <add key="Start" value="9"></add>
    <add key="Finish" value="18"></add>
    <add key="AllTime" value="True"></add>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://wcf.marleysolutions.com.br/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
        contract="ServiceReference.IService" name="BasicHttpBinding_IService" />
    </client>
  </system.serviceModel>
  </configuration>